<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:if="${post.id == null}">
    <head th:replace="fragments/header :: main-head('create post')"></head>
</th:block>

<th:block th:unless="${post.id == null}">
    <head th:replace="fragments/header :: main-head('edit post')"></head>
</th:block>

<body>
    <th:block th:if="${post.id == null}">

        <form th:action="@{/posts/create}" method="post" th:object="${post}">
            <h2>Create Post</h2>
            <br>
            <input type="hidden" th:field="*{id}">
            <label for="title">Title</label>
            <input th:field="*{title}" type="text">
            <br>
            <label for="body">Description</label>
            <input th:field="*{body}" type="text">
            <br>
            <input type="submit" value="create post">
        </form>

    </th:block>

    <th:block th:unless="${post.id == null}">

        <form th:action="@{'/posts/'+ ${post.id} +'/edit'}" method="post" th:object="${post}">
            <h2>Edit Post</h2>
            <br>
            <label for="title">Title</label>
            <input th:field="*{body}" type="text">
            <br>
            <input type="submit" value="create post">
        </form>

    </th:block>







</body>
</html>