<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: main-head('edit post')"></head>-->
<!--<body>-->
<!--<form th:action="@{'/posts/' + ${post.id} + '/edit'}" method="post" th:object="${post}">-->

<!--    <h2>Edit Post</h2>-->
<!--    <br>-->

<!--    <input type="hidden" th:field="*{id}">-->

<!--    <label for="title">Title</label>-->
<!--    <input th:field="*{title}" type="text">-->
<!--    <br>-->
<!--    <label for="body">Description</label>-->
<!--    <input th:field="*{body}" type="text">-->
<!--    <br>-->
<!--    <input type="submit" value="create post">-->

<!--</form>-->

<!--</body>-->
<!--</html>-->