<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: main-head('create ad')"></head>-->
<!--<body>-->
<!--    <form action="ads/create" method="post">-->

<!--        <h2>Create Ad</h2>-->
<!--        <br>-->
<!--        <label for="title">Title</label>-->
<!--        <input name="ad_title" id="title" type="text">-->
<!--        <br>-->
<!--        <label for="description">Description</label>-->
<!--        <input name="ad_description" id="description" type="text">-->
<!--        <br>-->

<!--        <input type="submit" value="create ad">-->

<!--    </form>-->

<!--</body>-->
<!--</html>-->