<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav th:fragment="mainNav" class="nav navbar">
        <ul>
<!--            <li th:if="${admin}"><a href="/grades">Grades</a></li>-->
<!--            <li><a href="#">Quizzes</a></li>-->
<!--            <li><a href="#" th:text="${day}"></a></li>-->
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

</body>
</html>